# Java build files
*.class
*.jar
*.war
*.ear

# Maven / Gradle
target/
build/
out/

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment & secrets
.env
# Ignore only secret configs, not all properties
*secret.properties